.main-page {
    width: 75%;
    margin: auto;
    padding: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.question-mark-circle {
    width: 10px;
    height: 10px;
    /*border: 1px solid #222;*/
    border-radius: 50%;
    font-size: 10px;
    color: #000;
    text-align: center;
    background: #00000010;
    padding: 1px;
    margin: 5px;
    cursor: pointer;
}


.get-started-btn {
    width: max-content;
    margin: auto;
}

.display-block {
    display: block;
}

.display-hidden {
    display: none;
}

.right-btn-group {
    float: right;
}

hr.solid {
    border-top: 0.1px solid #bbb;
}


/* The Modal (background) */
.my-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.my-modal-heading {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 40px 0px 40px;
    height: max-content;
    width: 50%;
}

.my-modal-heading h3 {
    margin: 0;
}

.my-modal-body {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    max-height: 400px;
    width: 50%;
    overflow: auto;
}

.my-modal-footer {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 40px 80px 40px;
    height: max-content;
    width: 50%;
    display: block;
}

.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.icon-style {
    height: 20px;
    width: 20px;
}

.checkbox-option-icon {
    margin-right: 10px;
}

.checkbox-option-header-icon {
    margin-left: 10px;
    margin-bottom: 2px;
}

.checkbox-option-header-label {
    margin-left: 55px;
    padding: 0;
    font-size: small;
    color: #555555;
}

.checkbox-header {
    display: flex;
    margin-bottom: 10px;
}

.checkbox-option {
    /*margin-left: 20px;*/
    margin-bottom: 10px;
}

.checkbox-option {
    margin-left: 20px;
    margin-bottom: 10px;
}

.checkbox-option-name {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: small;
    font-weight: 500;
}

.checkbox-option-label {
    margin-left: 25px;
    padding: 0;
    font-size: small;
    color: #555555;
}

.description-title {
    font-size: 15pt;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
}

.description-text {
    font-size: small;
    color: #555555;
}