.main-page {
    width: 75%;
    margin: auto;
    padding: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.question-mark-circle {
    width: 10px;
    height: 10px;
    /*border: 1px solid #222;*/
    border-radius: 50%;
    font-size: 10px;
    color: #000;
    text-align: center;
    background: #00000010;
    padding: 1px;
    margin: 5px;
    cursor: pointer;
}

.question-mark-circle-large {
    width: 10px;
    height: 10px;
    /*border: 1px solid #222;*/
    border-radius: 50%;
    font-size: 15px;
    color: #000;
    text-align: center;
    background: #00000010;
    padding: 1px;
    margin: 5px;
    cursor: pointer;
}

.get-started-btn {
    width: max-content;
    margin: auto;
}

.display-block {
    display: block;
}

.display-hidden {
    display: none;
}

.right-btn-group {
    float: right;
}

hr.solid {
    border-top: 0.1px solid #bbb;
}


/* The Modal (background) */
.my-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.my-modal-heading {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 40px 0px 40px;
    height: max-content;
    width: 35%;
}

.my-modal-heading h3 {
    margin: 0;
}

.my-modal-body {
    background-color: #fefefe;
    margin: auto;
    padding: 0 40px 50px 40px;
    max-height: 550px;
    height: max-content;
    width: 35%;
    overflow: auto;
}

.my-modal-body li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-modal-footer {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    height: max-content;
    width: 35%;
    display: block;
}

.button-link {
    margin-left: 10px;
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.x-large-icon-style {
    height: 32px;
    width: 32px;
}

.large-icon-style {
    height: 25px;
    width: 25px;
}

.modal-header-icon {
    margin-bottom: 10px;
    margin-right: 10px;
}

.icon-style {
    height: 15px;
    width: 15px;
}

.expand-icon-style {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.checkbox-option-icon {
    margin-right: 10px;
}

.checkbox-option-header-icon {
    margin-left: 10px;
    margin-bottom: 2px;
}

.checkbox-option-header-label {
    margin-left: 55px;
    padding: 0;
    font-size: small;
    color: #555555;
}

.checkbox-header {
    display: flex;
    margin-bottom: 10px;
}

.checkbox-option {
    /*margin-left: 20px;*/
    margin-bottom: 10px;
}

.checkbox-option {
    margin-left: 20px;
    margin-bottom: 10px;
}

.checkbox-option-name {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: small;
    font-weight: 500;
}

.checkbox-option-label {
    margin-left: 25px;
    padding: 0;
    font-size: small;
    color: #555555;
}

.description-title {
    font-size: 15pt;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
}

.description-sub-title {
    font-size: medium;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
}

.description-bold-text {
    font-size: small;
    font-weight: 500;
}

.description-text {
    font-size: small;
    color: #555555;
}

.display-inline-block {
    display: inline-block
}

.review-category {
    display: inline-block;
    padding: 20px;
}

.data-category-setup-box {
    border-radius: 5px;
    background: #f2f2f2;
    margin-top: 10px;
    padding: 20px;
    width: 500px;
    height: 150px;
    color: #0571ca;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.data-category-setup-box:hover {
    border-radius: 5px;
    background: #f2f2f2;
    margin-top: 10px;
    padding: 20px;
    width: 500px;
    height: 150px;
    border: 1px solid #0070c9;
    cursor: pointer;
    color: #0571ca;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.data-category-display-box {
    border-radius: 5px;
    background: #f2f2f2;
    margin-top: 10px;
    padding: 20px;
    width: 500px;
    height: 150px;
    color: #000;
    font-size: small;
}

.data-category-display-box:hover {
    border-radius: 5px;
    background: #f2f2f2;
    margin-top: 10px;
    padding: 20px;
    width: 500px;
    height: 150px;
    border: 1px solid #0070c9;
    cursor: pointer;
    color: #000;
    font-size: small;
}

.warning-box {
    border-radius: 5px;
    background: #fffae5;
    margin-top: 5px;
    padding: 15px;
    width: 500px;
    height: 80px;
    border: 1px solid #fff0b8;
}

.checkbox-purpose-option-name {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: small;
    font-weight: 500;
    color: #555555;
}

.checkbox-purpose-option-label {
    margin-left: 22px;
    padding: 0;
    font-size: small;
    color: #555555;
}

.radioStyle {
    margin-right: 10px;
}

.first-time-definition {
}

.second-time-definition {
    margin-left: 15px;
}

.second-time-definition-hidden {
    margin-left: 15px;
    display: none;
}

#expand-tracking-definition-example-icon:hover {
    cursor: pointer;
}

.product-page-preview-see-details {
    text-align: right;
    color: #069;
    cursor: pointer;
}
.product-page-preview-display-box {
    border-radius: 3px;
    background: #f2f2f2;
    margin: 10px;
    padding: 25px 10px 25px 25px;
    color: #000;
    text-align: center;
}

.product-page-preview-display-box-title {
    font-weight: 500
}

.product-page-preview-display-box-description {
    color: #555555;
    font-size: small;
    padding: 10px 5px 5px 5px;
}

.product-page-preview-display-box-content {
    color: #000;
    font-size: small;
    text-align: left;
    padding: 10px 5px 5px 5px;
}


.product-page-preview-data-display {
    text-align: left;
    color: black;
    line-height: 2;
    padding: 10px;
}